@page "/treejs"
@inject IJSRuntime jsRuntime;

<div class="container-fluid">
    <div class="row">
        <h3>TreeJS, но пока не работает</h3>
    </div>
    <div class="row">
        <button @onclick="CreateFooter"> Начать построение подвала</button>
    </div>
    <div class="row col container-fluid">
        <canvas id="@IdCanvas"></canvas>
    </div>
</div>





@code {

    private void RunButton()
    {
        jsRuntime.InvokeVoidAsync("loadScene",new object[]{IdCanvas});
        StateHasChanged();
    }

    private string IdCanvas { get; } = "treeJSScene";

    #region Overrides of ComponentBase

    /// <inheritdoc />
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            RunButton();
        }

        return Task.CompletedTask;
    }

    #endregion

    private void CreateFooter()
    {
        ValueTask task = jsRuntime.InvokeVoidAsync("footerCreate", new object[]
        {
            100, 10, 80, 6, 12
        });
        Task.WaitAll(task.AsTask());
        StateHasChanged();
    }

}
